<script src="/assets/jquery-1.12.4.js"></script>
<script src="/assets/jqueryui.js"></script>
<%= javascript_include_tag "select2.min" %>

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="actions">
    <%#= f.submit %>
  </div>  -->
<% end %>

<section class="sortcode-main-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-titel">
          <h3>Add New Product</h3>
          <p></p>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="preview">
          <div class="contact-from-area">
            <%= form_for(@product) do |f| %>
              <div class="col-md-6">
                <div class="contact-from-left">
                  <div class="input-text">
                    <%= f.submit  class: "button small mb-20"%>
                  </div>

                  <div class="input-text in-left">
                    <h4>Name<span>*</span></h4>
                    <%= f.text_field :name, :class => 'form-control', :required => true, :placeholder => "Name" %>
                  </div>
                  <div class="input-text in-right">
                    <h4>Type<span>*</span></h4>
                    <%= f.select(:product_type, options_for_select([['Product','product'],['Service','service']], @product.product_type)) %>
                  </div>

                  <%if @product.brand_id.blank?%>
                    <div class="input-text in-left">
                      <h4>Brand <span>*</span></h4>
                      <%= f.select(:brand_id,options_for_select(Brand.select("distinct on(name) id, name").map{|a|[a.name,a.id]},@product.brand_id), { :class => 'form-control brand_selector' ,style: "float: left" }) %>
                    </div>
                    <div class="input-text in-right">
                      <h4>Category<span>*</span></h4>
                     <%= f.select(:category_id,options_for_select(Category.select("distinct on(name) id, name").map{|a| [a.name,a.id]},@product.category_id), { :class => 'form-control category_selector' ,style: "float: left" })%>
                    </div>
                  <%else%>
                    <div class="input-text in-left">
                      <h4>Brand <span>*</span></h4>
                      <select class="form-control brand_selector" style="float: left">
                        <option value="<%=@product.brand_id%>"><%=@product.brand.name %></option>
                      </select>
                    </div>
                    <div class="input-text in-right">
                      <h4>Category<span>*</span></h4>
                      <select class="form-control brand_selector" style="float: left">
                        <option value="<%=@product.category_id%>"><%=@product.category.try(:name) %></option>
                      </select>
                    </div>
                  <%end%>

                  <table class="table">
                      <thead>
                        <tr>
                          <th style="width:80%">Country</th>
                          <th style="width:20%">Vat(%)</th>
                        </tr>
                      </thead>

                      <tbody>
                          <tr>
                            <%= f.fields_for :countries_vats, CountriesVat.new  do |ff| %>
                            <td>
                                <%= ff.country_select("country", { only: Vat.all.map{|a|a.country} }, { class: 'country_selector', style: 'width:100%', data: { attribute: "value" }}) %>  
                                <%#= ff.select(:country, options_for_select([Vat.all.collect{|a|a.country}]),{ class: 'country_selector', style: 'width:100%', data: { attribute: "value" }}) %>       
                            </td>
                            <td>
                              <%= ff.select(:vat, [['']], {}, { :class => 'vat_selector' ,style: "width:100%;" }) %>
                              </select>
                            </td>
                            <%end%>
                          </tr>
                      </tbody>
                    </table>
                </div>  
              </div>  

              <div class="col-md-6" style="margin-top: 3%;">
                <div class="contact-from-left">
                  <div class="input-text">
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="60%">Country</th>
                          <th width="40%">Vat%</th>
                          <th width="20%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <%index = Time.now.to_i%>
                        <%if @product.countries_vats.present?%>
                          <% @product.countries_vats.each do |country_vat|%>
                            <tr>
                              <td><%=country_vat.country_name%></td>
                              <td><%=country_vat.vat%></td>
                              <td><button type="button" id="clear_btn_<%=index%>" onClick="clear_values('<%=index%>', this)" >X</button></td>
                              <input type="hidden" class="country_vat_id" name="product[countries_vats_attributes][[<%=index%>]][id]" value="<%=country_vat.id%>">
                              <input type="hidden" class="country_vat_destroy" name="product[countries_vats_attributes][[<%=index%>]][_destroy]">
                            </tr>
                            <%index = index+1%>
                          <%end%>
                        <%end%>
                      </tbody>
                    </table>
                  </div>  
                </div>  
              </div>    
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

<script type="text/javascript">

  $('.country_selector').select2();
  $('.brand_selector').select2();
  $('.category_selector').select2();

  function get_country(elem){
    return elem.parent().parent().find('.country_selector').val();
  }

  $(".vat_selector").select2({
    ajax: {
      type: "GET",
      url: "/products/vat_via_ajax.json",
      dataType: 'json',
      contentType: "application/json",
      delay: 250,
      data: function (params) {
        return{
          vat_search_key: params.term,
          country: get_country(this)
        };
      },
      processResults: function (data) {  
        return {
          results: $.map(data, function (item, i) {
            return {
              text: item,
              id: item
            }
          })
        };
      }
    }
  });

  function clear_values(index, elem){
    var destroy_input = $(elem).parent().parent().find(".country_vat_destroy")
    destroy_input.attr("value","true");
    destroy_input.parent().hide();
  }

</script>