<script src="/assets/jquery-1.12.4.js"></script>
<script src="/assets/jqueryui.js"></script>
<%= javascript_include_tag "select2.min" %>


<% if @bank_account.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>
    <ul>
      <% @bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<section class="sortcode-main-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-titel">
          <h3>Add Bank Account</h3>
          <p></p>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="preview">
          <div class="contact-from-area">
  
            <%= form_for(@bank_account,  html: { class: "form-horizontal"}) do |f| %>
              <div class="col-md-6">
                <div class="contact-from-left">
                  <%= f.submit  class: "button small mb-20"%>
                  <div class="input-text">
                    <h4>Bank Name<span>*</span></h4>
                    <%= f.text_field :bank_name,:placeholder => "Enter Bank Name" %>
                  </div>
                  <div class="input-text ">
                    <h4>Account Number <span>*</span></h4>
                    <%= f.text_field :account_number, class: "account_number", :placeholder => "Enter the account number" %>
                  </div>
                  
                  <div class="input-text in-left">
                    <h4>Balance Amount</h4>
                    <%= f.number_field :balance_amount , :step => "0.0001" %>
                  </div>

                  <div class="input-text in-right">
                    <h4>Balance Date</h4>
                     <%= f.date_field :balance_date %>
                  </div>

                </div>
              </div>

              <div class="col-md-6" style="margin-top:4.6%;">
                <div class="contact-from-left">
                  <%if params[:action] == 'new' %>
                    <div class="input-text">
                        <h4>Company<span>*</span></h4>
                         <%= select_tag "bank_account[company_id]", options_for_select(['']), { class:"col-md-12 company_select"}%>
                    </div>
                  <%else%>
                    <div class="input-text">
                      <h4>Company <span>*</span></h4>
                      <select class="col-md-12 company_select" name="bank_account[company_id]" >
                        <option value="<%=@bank_account.try(:company_id)%>" selected="selected">
                          <%= @bank_account.try(:company).try(:name)%>
                        </option>
                      </select>
                    </div>
                  <%end%>

                  <div class="input-text">
                    <h4>Currency<span>*</span></h4>
                    <%= select_tag "bank_account[currency]", options_for_select([['Euro - EUR','eur'],['New Taiwan Dollar - TWD','twd'],['United States Dollar - USD','usd'],['Chinese Renminbi Yuan - CNY','cny'],['Hong Kong Dollar - HKD','hkd']],@bank_account.currency), { class:"col-md-12"}%>
                  </div>

                  <div class="input-text" style="margin-top: 12%;">
                    <h4>Bank Code<span>*</span></h4>
                    <%= f.text_field :bank_code, :placeholder => "Enter bank code" %>
                  </div>
                  
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  .input-text{
    margin-bottom: 20px;
  }
</style>

<script type="text/javascript">
$(document).ready(function(){
  if ($(".account_number").val() != ""){
    $(".account_number").attr("disabled","disabled")
  }
})
  $(".company_select").select2({
    ajax: {
        type: "GET",
        url: "/orders/show_company_with_ajax.json",
        dataType: 'json',
        contentType: "application/json",
        delay: 250,
        data: function (params) {
            return{
                name_startsWith: params.term,
                type_company: 'company'
            };
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item, i) {
                    return {
                        text: item.name,
                        id: item.id
                    }
                })
            };
        }
    },
  });
</script>