
<%= form_for(@company , html: { class: "form-horizontal"}) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="subtotal-main-area">
          <form action="#" method="get" class="form-horizontal">
            <div class="subtotal-area">
              <div class="country-select state">
                <%= f.select(:company_type, [['B2B', 'b2b'], ['B2C', 'b2c']], {}, { :class => "span2", style:    "width: 10%;" }) %>
                <%= f.text_field :name, :class => "span7", :required => true, :style=>"width:76%; margin-left: 1%; ", :placeholder => "Customer Name(Field Required)"  %>

              </div>
            </div>

            <div class="subtotal-area">
              <div class="country-select country", style="margin-top: 0;">
                <input type="text" name="alias_names[]" class ="span6" style="width:49%;background-color: rgba(3, 169, 244, 0.14);" placeholder = "Company Alias Name 1st" >
                <input type="text" name="alias_names[]" class ="span6" style="width:49%;background-color: rgba(3, 169, 244, 0.14);" placeholder = "Company Alias Name 2nd" >
                  <%#= f.text_field "alias_one", :class => "span6", :style=>"width:49%;", :placeholder => "Company Alias Name 1"  %>
                  <%#= f.text_field "alias_two", :class => "span6", :style=>"width:49%;", :placeholder => "Company Alias Name 2"  %>
              </div>
            </div>
            <div class="input-text in-left" style="margin-bottom:20px;">
                    <div class="checkbox">
                     <label><input type="checkbox" style="width: 5%;" onchange="toggle_shipping(this)" <%=@company.as_shipping_agent == true ? 'checked' : "" %> >As Shipping agent</label> 
                     <input type="hidden" name="company[as_shipping_agent]" class="hidden_shipping_agent" value=<%=@company.as_shipping_agent == true ? true : false %>>
                    </div>
                </div>
                <div class="input-text in-right" style="margin-bottom:20px;">
                    <div class="checkbox">
                      <label><input type="checkbox" style="width: 5%;" onchange="toggle_customs(this)" <%=@company.as_customs_agent == true ? 'checked' : "" %>>As Customs agent</label>
                      <input type="hidden" name="company[as_customs_agent]" class="hidden_customs_agent" value=<%=@company.as_customs_agent == true ? true : false %>>
                    </div>
                </div>
            <div class="subtotal-area">
              <div class="country-select country", style="margin-top: 0;">
                <%= country_select("company", "country", { priority_countries: ["CN", "HK", "TW", "DE"] }, { class: 'col-md-8', style: "width:30%;",data: { attribute: "value" } }) %>
              </div>
            </div>

            <div class="subtotal-area">
              <div class="checkout-form-list">
                <%= f.text_field :url, :class => "span11",  style: "margin-top:1%" , :placeholder => "Enter the URL" %>
              </div>
            </div>

            <div class="subtotal-area">
              <div class="checkout-form-list">
                <%= f.text_field :billing1, class:"span11",:placeholder => "Billing adress one(Field Required)" %>
              </div>
            </div>

            <div class="subtotal-area">
              <div class="checkout-form-list">
                <%= f.text_field :billing2, class:"span11", :placeholder => "Billing adress two" %>
              </div>
            </div>

            <div class="subtotal-area">
              <div class="checkout-form-list">
                <%= f.text_field :city, class:"span11", :placeholder => "City(Field Required)"  %>
              </div>
            </div>
            
            <div class="subtotal-area">
              <div class="checkout-form-list">
                <%= f.text_field :zip_code, class:"span11", :placeholder => "Zip Code(Field Required)"  %>
              </div>
            </div>
            
            <div class="subtotal-area">
              <div class="checkout-form-list">
                <%= f.text_field :telephone, class:"span11", :placeholder => "Telephone" %>
              </div>
            </div>

            <div class="subtotal-area">
              <%= f.label :include_vat , class:"control-label" , style: "color: gray;"%>
              <div class="checkout-form-list">
                <%= f.check_box :include_vat, class:"span11"%>
              </div>
            </div>

            <div class="subtotal-area">
              <div class="checkout-form-list">
              <%= f.text_field :bill_r_format, class:"span11", :placeholder => "Reference Format(Field Required)" %>
              </div>
            </div>

            <div class="form-actions">
               <%= f.submit %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  
function toggle_shipping(elem){
  if(elem.checked == true){
    $(".hidden_shipping_agent").attr("value",true)  
  }else{
    $(".hidden_shipping_agent").attr("value",false)
  }
}
function toggle_customs(elem){
  if(elem.checked == true){
    $(".hidden_customs_agent").attr("value",true)  
  }else{
    $(".hidden_customs_agent").attr("value",false)
  }
}

</script>
